<style>
    .payroll{
        height: 400px;
        width: 400px;
        background-color: bisque;
        margin: auto;
        margin-top: 150px;
    }
    .payroll form{
        padding:20px;
    }
</style>

<% layout("/layouts/boilerpalte") %>
<body>
    <div class="payroll">
        <form action="http://localhost:8080/employees/<%=employee._id%>/payroll" method="POST"   
            class="needs-validation" novalidate>
            <label for="month" class="form-label"><b>Month:</b></label>
            <select name="salary[month]" id="month" class="form-select" required>
                <option>Please Make a choice</option>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
                <option>11</option>
                <option>12</option>
            </select>
            <br>
            <label for="year" class="form-label"><b>Year:</b></label>
                <input name="salary[year]" id="year" 
                class="form-control"  placeholder="Enter Year" required>
            <br>

            
            <br>

            <button class="btn btn-primary">Submit</button>

        </form>
    </div>
</body>