
<% layout("/layouts/boilerpalte") %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/home.css">
    
    
</head>
<body>
    <header >
        <div class="nav">
            <div class="pms">
                <i class="fa-brands fa-amazon-pay" class="pmslogo"></i>
                <h6>Payroll Management System</h6>
            </div>
            <div class="login offset-7">
                <a href="http://localhost:8080/admin/login"><button >Admin login</button></a>
                <a href="http://localhost:8080/employee/login"><button >Employee login</button></a>
               
            </div>
        </div>
    </header>

    <div class="content">
        <div class="content-img">
            <div class="pmsimg">
              <img src="https://www.blinkco.io/wp-content/uploads/2023/08/payroll-software.jpeg" alt="pms">
              <div class="overlay-text">
                <!-- <p>Welcome to Your Website!!!</p>
                <p>Precision, Performance, Payroll: Your Complete Solution</p> -->
                
              </div>
              
            </div>

        </div>
    </div>
</body>